<h1>Login</h1>

<form id="formu-login" action="POST">
    <label for="">Email</label>
    <input name="gmail" type="email">
    <label for="">Contraseña</label>
    <input name="password" type="password">
    <input type="submit">
</form>

<a href="/register"> ¿No estas registrado? Registrate </a>

<script src="/js/login.js"></script> 