<h1>Register</h1>

<form id="formu" >
    <label for="">Nombre</label>
    <input name='name' type="text">
    <label for="">Apellido</label>
    <input name='last_name' type="text">
    <label for="">Email</label>
    <input name='gmail' type="email">
    <label for="">Contraseña</label>
    <input name='password' type="password">
    <input type="submit">
</form>

<a href="/login"> ¿Ya estas registrado? Logueate </a>

<script src="/js/register.js"></script>