<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body{
            background-color: gray;
        }
        .formulario input{
            margin-bottom: 10px;
            margin-left: 10px;
        }
        .formulario label{
            margin-bottom: 10px;
            margin-left: 10px;
        }

        button{
            margin-left: 10px;
        }
        .cont-img-prod{
            width: 250px;

        }

        .cont-img-prod img{
            width: 100%;
        }
    </style>
</head>
    <body>

        {{{body}}}

        
    </body>
</html>